django==5.0.1
django-crispy-forms
django-bootstrap-icons
crispy-bootstrap5
django-sass
crispy_bootstrap5
django_bootstrap_icons
django_sass
djongo
djangorestframework
pymongo==3.12.3
django-cors-headers
dnspython
requests
djangorestframework 
djangorestframework-jwt
djangorestframework-simplejwt